{{define "base"}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        {{block "title" .}}
        {{end}}
    </title>
    <link href="/static/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="container mx-auto px-4">
        {{block "content" .}}
        {{end}}
    </div>
    {{block "js" .}}
    {{end}}
</body>

</html>
{{end}}
